apiVersion: apps/v1beta1
kind: Deployment
metadata:
  namespace: default
  name: api
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      name: api
      labels:
        name: api
    spec:
      containers:
      - image: gcr.io/sample-gke-api/api:latest
        name: api
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 40m
            memory: 128Mi
        ports:
        - containerPort: 8080
          name: http
